.places__briefing_large {
  margin: 0;
  padding: 0;
  position: relative;
  left: -24px;
}

@media (max-width: 981px) {
  * {
    transition: 0.4s ease-in-out;
  }

  .places__briefing_large {
    position: relative;
    left: 0;
  }
}

@media (max-width: 768px) {
  * {
    transition: 0.4s ease-in-out;
  }

  .places__briefing_large {
    position: relative;
  }
}

@media (max-width: 355px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .places__briefing_large {
    max-width: 355px;
    padding: 0 12px;
  }
}
