.places__photo {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  grid-area: places__photo;
}

@media (max-width: 768px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .places__photo {
    max-width: 340px;
    max-height: 340px;
  }
}

@media (max-width: 484px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .places__photo {
    max-width: 484px;
    max-height: 484px;
    padding: 0 12px;
  }
}

@media (max-width: 355px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .places__photo {
    max-width: 320px;
    max-height: 320px;
  }
}
