.button__text {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;  
  width: 315px;
  height: 22px;
  text-align: center;
  margin: 0;
  padding: 16px 20px;
  text-decoration: none;
}

@media (max-width: 484px) {
  * {
    transition: 0.4s ease-in-out;
  }

  .button__text {
    font-size: 14px;
    line-height: 18px;
    width: 245px;
    height: 17px;
  }
}
