.header__subtitle {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap; 
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 72px;
  text-align: center;
  margin: 0 24px 64px;
  padding: 0;
  display: inline-table;
}

@media (max-width: 768px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .header__subtitle {
    transition: 0.4s ease-in-out;
    margin-bottom: 36px;
  }
}

@media (max-width: 484px) {
  * {
    transition: 0.4s ease-in-out;
  }

  .header__subtitle {
    max-width: 288px;
    max-height: 40px;
    font-size: 16px;
    line-height: 20px;
    margin: 0 16px 40px;
  }
}
